@page
@{
}
 
<div class="text-center">
    <form action="">
        <label for="txtid" class="form-label">ID:</label>
        <input type="text" class="form-control" id="txtid" name="txtid" placeholder="ID">
        <label for="txtdescripcion" class="form-label">Descripcion:</label>
        <input type="text" class="form-control" id="txtdescripcion" name="txtdescripcion" placeholder="Descripci&oacute;n">
        <label for="txtpeso" class="form-label">Peso:</label>
        <input type="number" class="form-control" id="txtpeso" name="txtpeso" placeholder="Peso">
        <label for="txttipo" class="form-label">Tipo:</label>
        <input type="text" class="form-control" id="txttipo" name="txttipo" placeholder="Tipo">
        <label for="txtpresentacion" class="form-label">Presentaci&oacute;n:</label>
        <input type="text" class="form-control" id="txtpresentacion" name="txtpresentacion" placeholder="Presentaci&oacute;n">
        <hr>
        <button type="submit" class="btn btn-success">Enviar</button>
    </form>
</div>