@page
@{
}
 
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">#ID</th>
      <th scope="col">Descripci&oacute;n</th>
      <th scope="col">Peso KG</th>
      <th scope="col">Tipo</th>
      <th scope="col">Presentaci&oacute;n</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Juguetes</td>
      <td>1kg</td>
      <td>Paquete</td>
      <td>Caja</td>
    </tr>
  </tbody>
</table>