@page
@{
}
 
<div class="text-center">
    <form action="">
        <label for="txtid" class="form-label">ID:</label>
        <input type="text" class="form-control" id="txtid" name="txtid" placeholder="ID">
        <label for="selorigen" class="form-label">Origen:</label>
        <select name="selorigen" id="selorigen" class="form-control">
            <option value="0">-- Seleccione origen --</option>
        </select>
        <label for="seldestino" class="form-label">Destino:</label>
        <select name="seldestino" id="seldestino" class="form-control">
            <option value="0">-- Seleccione destino --</option>
        </select>
        <label for="txtfecha" class="form-label">Fecha:</label>
        <input type="text" class="form-control" id="txtfecha" name="txtfecha" placeholder="Fecha">
        <label for="txthora" class="form-label">Hora:</label>
        <input type="text" class="form-control" id="txthora" name="txthora" placeholder="Hora">
        <label for="selencomienda" class="form-label">Presentaci&oacute;n:</label>
        <select name="seldestino" id="seldestino" class="form-control">
            <option value="0">-- Seleccione encomienda --</option>
        </select>
        <hr>
        <button type="submit" class="btn btn-success">Enviar</button>
    </form>
</div>