@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    @* <h1 class="display-4">Welcome</h1> *@
    <img src="http://c.files.bbci.co.uk/6959/production/_103896962_reuters20amazon202.jpg" style="max-height: 300px;" class="img-fluid" alt="Testing Amazon img">
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
