@page
@{
}
 
<div class="text-center">
    <form action="">
        <label for="txtid" class="form-label">ID:</label>
        <input type="text" class="form-control" id="txtid" name="txtid" placeholder="ID">
        <label for="txtnombre" class="form-label">Nombre:</label>
        <input type="text" class="form-control" id="txtnombre" name="txtnombre" placeholder="Nombre">
        <label for="txtapellidos" class="form-label">Apellidos:</label>
        <input type="text" class="form-control" id="txtapellidos" name="txtapellidos" placeholder="Apellidos">
        <label for="txtdireccion" class="form-label">Direcci&oacute;n:</label>
        <input type="text" class="form-control" id="txtdireccion" name="txtdireccion" placeholder="Direcci&oacute;n">
        <label for="txttelefono" class="form-label">Tel&eacute;fono:</label>
        <input type="text" class="form-control" id="txttelefono" name="txttelefono" placeholder="Tel&eacute;fono">
        <hr>
        <button type="submit" class="btn btn-success">Enviar</button>
    </form>
</div>
